body{
    text-align: center;
}

.imgAndName{
display: flex;
flex-direction: row;
width: 30%;
align-content: space-between;
margin-left: auto;
margin-right: auto;
}

.name{
    margin-top: auto;
    margin-bottom: auto;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;   
}

.name1{
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;   
}